@import url('./creative.css');
@import url('./icons.css');
@import url('./header.css');

@font-face {
   font-family: 'proxima';
   src: url('/fonts/ProximaNova-Light_0.otf');
}

/*@font-face {
   font-family: 'proxima';
   font-weight: bold;
   src: url('/fonts/ProximaNova-Bold.otf');
}*/

@font-face {
	font-family: 'proxima';
	font-weight: bold;
	src: url('/fonts/ProximaNova-Semibold_0.otf');
}

* {
	box-sizing: border-box;
	color: inherit;
	font-family: proxima;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	margin: 0 !important;
}

body {
  background: #fff;
}

td {
	border-width: 0;
	vertical-align: middle;
}

p, a, h3, h4, h5, h6 {
    font-family: proxima;
}

b, strong {
	font-family: proxima;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
	font-family: proxima;
	font-weight: bold;
	color: #202020;
	margin: 1%;
}

h3 {
	font-size: 24px;
}

body.home {
    background: #ddd url("/images/common-bg.jpg");
    nowhitespace: afterproperty;
    /* font: 14px/1.8 'Open Sans',Helvetica,Arial,sans-serif; */
    color: #666;
    -webkit-text-size-adjust: 100%;
}

input[type=button],
input[type=submit] {
	text-transform: none;
}

footer p {
    font-size: 16px;
    font-weight: normal;
    margin: 1%;
    text-align: center;
}
p {
    line-height: 1.5;
}

#header-wrap a {
	color: #fff;
}

#header-wrap a:hover,
#header-wrap a:focus {
	color: #ffd846;
	text-decoration: none;
}


.subnav-list-control a:hover, .subnav-list-control a:focus {
	text-decoration:none;
}

a:focus,
a:active,
a {
	color: #202020;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
}

.subnav ul{
	font-family: proxima;
	font-weight: bold;
}

.heading-block a:focus {
	transition: none;
}

a:hover {
    text-decoration: none;
    color: #7b7b7b;
}

.blog-entry a:hover {
    text-decoration: none;
    color: #7b7b7b;
}


input.yellowbutton {
	padding: 10px 40px;
	background-color: #ffd846;
	border-radius: 8px;
	color: #202020;
	font-size: 18px;
}

.container {
	background: none;
}


/** Buttons CSS */
#post-tags a {
	background: #ffd846;
	color: #202020;
	border-radius: 2px;
}
.btn-default {
	background: #ffd846;
	color: #202020;
	padding: 10px 40px;
	border-radius: 8px;
	font-size: 18px;
}
#post-tags a:hover,
.btn-default:hover {
	background: #202020;
	color: #fff;
}


/** Overriding CSS */
#wrap {
	/*margin-top: 180px;*/
	margin-top: 125px;
}

#navigation {
	top: 10px;
}
#navigation .sf-menu > li > a:hover {
	color: #ffd846;
}
#header .subnav h3 {
	margin: 1%;
	line-height: 1.1;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

#navigation .sf-menu > li > a {
	color: #fff;
}

.inner-post {
	font-family: proxima;
}

.dropdown-menu {
	display: none;
	z-index: 50;
	position: absolute;
	top: 22px;
}

.open {
	position: relative;
}

.dropdown-toggle {
	display: inline-block;
	cursor: pointer;
}

#logo {
	text-align: left !important;
}
#pre-header .dropdown-menu > li {
	text-align: center;
}
#pre-header .dropdown-menu > li > a {
	display: block;
}
#pre-header .dropdown-menu > li > a:hover {
	background-color: #fff;
	color: #202020;
}
#pre-header > ul > li .search-bar {
	width: 0px;
	height: 20px;
	padding: 0 !important;
    -webkit-transition-duration: .8s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    border-radius: 4px;
    border-width: 0 !important;
    display: none;
}
#pre-header > ul > li .search-bar.searchvisible {
	width: 200px;
	padding: 0 5px !important;
	display: inline;
	border-width: 0;
}
#pre-header > ul > li.has-icon {
    height: 26px;
}
#commentsbox input[type="submit"] , #commentsbox input[type="submit"]:active ,#commentsbox input[type="submit"]:focus   {
	font-family: proxima;

	color: #202020;
	border-radius: 2px;
   background-color: #ffd846;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #202020;
}

.entry button:hover, .entry input[type="button"]:hover, .entry input[type="submit"]:hover, #commentsbox input[type="submit"]:hover {
background-color: #000;
    color: #fff;
}

.white-text {
	color: #fff;
}
#footer {
	padding: 0;
	font-size: 14px;
}
#footer {
	background: none;
	padding: 0;
}
#footer a,
#footer a:active,
#footer a:visited {
	color: #fff;
}
#footer a:hover {
	color: #ffd846;
}
#footer .fb-contact,
#footer .linkedin-contact,
#footer .youtube-contact,
#footer .twitter-contact {
	width: 20px;
	height: 20px;
	display: inline-block;
}
#footer .fb-contact {
	background-image: url(/images/home_footer_fb.svg);
}
#footer .fb-contact:hover {
	background-image: url(/images/home_footer_fb_c.svg);
}
#footer .linkedin-contact {
	background-image: url(/images/home_footer_linkedin.svg);
}
#footer .linkedin-contact:hover {
	background-image: url(/images/home_footer_linkedin_c.svg);
}
#footer .youtube-contact {
	background-image: url(/images/home_footer_youtube.svg);
}
#footer .youtube-contact:hover {
	background-image: url(/images/home_footer_youtube_c.svg);
}
#footer .twitter-contact {
	background-image: url(/images/home_footer_twitter.svg);
}
#footer .twitter-contact:hover {
	background-image: url(/images/home_footer_twitter_c.svg);
}
#footer ul {
	margin: 0 0 10px 3em;
	display: block;
}
#footer ul > li {
	display: block;
}
.container {
	padding: 0;
}
.clearfix:after,.clearfix:before,.container-fluid:after,.container-fluid:before,.container:after,.container:before {
	display: table;
	content: " ";
}
.btn-toolbar:after,.clearfix:after,.container-fluid:after,.container:after,.dl-horizontal dd:after,.form-horizontal .form-group:after,.modal-footer:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.pager:after,.panel-body:after,.row:after{
	clear: both;
}

@media screen and (max-width: 767px) {

	#footer ul {
		text-align: center;
		margin: 0;
		font-size: 20px;
	}

	#footer .white-text > div {
		margin-bottom: 20px;
	}

}
/** Bootstrap CSS for footer **/
@media (max-width:767px){.hidden-xs{display:none!important}}

@media (min-width:768px) and (max-width:991px){.hidden-sm{display:none!important}}@media (min-width:992px) and (max-width:1199px){.hidden-md{display:none!important}}@media (min-width:1200px){.hidden-lg{display:none!important}}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:768px){.container{width:750px}}@media (min-width:992px){.container{width:970px}}@media (min-width:1200px){.container{/*width:1170px*/}}.container-fluid{margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1200px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}

@media (min-width:767px) {
	
#single-post-content {
	width: 660px;
}
	
}

@media (max-width:767px) {
	
#single-post-content .read-more h2{
	font-size: 20px;
}
	
}

.btn-xs{
	background-color: #FFD845;
	padding: 3px 18px;
	float: right;
	color: #000;
	border-radius: 8px;
}

.btn-xs:hover {
	background-color: #000;
	color: #FFD845;
}

.meta-auth li , .meta-auth li a {
	color: #666 !important ;
	font-size: 15px;
}

/*.navigation-container{
	width: 960px;
}*/

.navigations-left-filter{
	/*width: 50%;*/
	    float: right;
}

.navigations-left-filter li{
	list-style: none;
	display: inline;
	margin-left: 20px;
}
.navigations-left-filter li a {
    color: #fff !important;
    font-size: 16px;
    text-decoration: none !important;
    font-weight: normal;
    border: 1px solid #fff;
    padding: 5px;
           padding-left: 15px;
    padding-right: 15px;
border-radius: 8px;
}
.navigations-left-filter li a:hover {
	color: #ffd846 !important;
	border-color: #ffd846 !important;
	background: none;
}
.navigations-right-filter li{
	list-style: none;
	display: inline;
	margin-right: 20px;
}
.navigations-right-filter{
/*float: right;*/
}
.navigation-container {
    margin-bottom: 15px;
}
.read-more{
	text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}


body.category-marketing{
	background-color: #000000; background-image: url('http://graffiti-media.co/roshni/vizury_tech_blog/wp-content/uploads/2015/02/marketing-bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll;
}
body.category-technology{
	background-color: #000000; background-image: url('http://graffiti-media.co/roshni/vizury_tech_blog/wp-content/uploads/2015/02/tech-bg.jpg'); background-repeat: repeat; background-position: top left; background-attachment: scroll;
}

.nav-div-left{
  width: 50%;
  float:left;
}

.nav-div-right{
width: 50%;
float: right;
}

.nav-div-right ul li{
	display: inline;
	float:left;
}

.widget_add_to_any_subscribe_widget{
	margin-top: 10px;
	 margin-left: 10px;
}

#commentform p label {
    display: block;
    }
#commentform input {
    float: none;
}
#post-header h1 {
 font-size: 35px !important;
 }

 #page-heading h1{
 	font-size: 35px !important ;
 }

 .search-icon{
    height: 20px;
    margin-top: 17px;
 }

 #blog-search-input{
 	display: none;
 	width: 0px;
 	    margin-top: 8px;
 }

#single-author h4{
	background-image: none;
}

h3#reply-title {
		background-image: none;
}

#respond {
	border-top-color: #000;
}

.meta li , ul , li, strong{

font-family: proxima;
}

.span-cat{
    background-color: #ffd846;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    color: #000;
    border-radius: 8px;
}

.span-sub{
   background-color: #E73420;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
        color: #fff;
         border-radius: 8px;
}

.span-sub:hover{
  background-color: #000;
  color:#fff;
}

.addtoany_subscribe{
	text-decoration: none;

}

input.yellowbutton, input.yellowbutton:active, input.yellobutton:focus {
    background-color: #ffd846;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #202020;
}


#header-social li a span.fb-contact,
#header-social li a span.linkedin-contact,
#header-social li a span.youtube-contact,
#header-social li a span.twitter-contact {
	width: 20px;
	height: 20px;
	display: inline-block;
}
#header-social li a span.fb-contact {
	background-image: url(/images/home_footer_fb.svg);
}
#header-social li a span.fb-contact:hover {
	background-image: url(/images/home_footer_fb_c.svg);
}
#header-social li a span.linkedin-contact {
	background-image: url(/images/home_footer_linkedin.svg);
}
#header-social li a span.linkedin-contact:hover {
	background-image: url(/images/home_footer_linkedin_c.svg);
}
#header-social li a span.youtube-contact {
	background-image: url(/images/home_footer_youtube.svg);
}
#header-social li a span.youtube-contact:hover {
	background-image: url(/images/home_footer_youtube_c.svg);
}
#header-social li a span.twitter-contact {
	background-image: url(/images/home_footer_twitter.svg);
}
#header-social li a span.twitter-contact:hover {
	background-image: url(/images/home_footer_twitter_c.svg);
}



#header-social-inner li a span.fb-contact,
#header-social-inner li a span.linkedin-contact,
#header-social-inner li a span.youtube-contact,
#header-social-inner li a span.twitter-contact {
	margin-top: 10px;
	width: 20px;
	height: 20px;
	   border-radius: 10px;
	display: inline-block;
	   background-color: black;

}


#header-social-inner li a span.fb-contact {



	background-image: url(/images/home_footer_fb.svg);
}
#header-social-inner li a span.fb-contact:hover {
	background-image: url(/images/home_footer_fb_c.svg);
}
#header-social-inner li a span.linkedin-contact {
	background-image: url(/images/home_footer_linkedin.svg);
}
#header-social-inner li a span.linkedin-contact:hover {
	background-image: url(/images/home_footer_linkedin_c.svg);
}
#header-social-inner li a span.youtube-contact {
	background-image: url(/images/home_footer_youtube.svg);
}
#header-social-inner li a span.youtube-contact:hover {
	background-image: url(/images/home_footer_youtube_c.svg);
}
#header-social-inner li a span.twitter-contact {
	background-image: url(/images/home_footer_twitter.svg);
}
#header-social-inner li a span.twitter-contact:hover {
	background-image: url(/images/home_footer_twitter_c.svg);
}


#main-content #page-heading{
	display: none;
}

.single-post .meta {
	border-bottom: none;
}

.blog-entry .entry-meta {
	border-top: none
}

ul#menu-header-menu li a:hover   {
	background: none;
}

.blog-entry .entry-meta {
    margin-top: 15px;
    padding-top: 5px;
   }
.blog-entry h2 {

       font-size: 18px;
}
#post {
    float: left;
    width: inherit;
}

.modal-backdrop.fade.in {
    height: 100% !important;
    z-index: -1 !important;
}

 input[type='reset'], input[type='submit'] {
    font-size: 0.8rem;
    border: none;
    border-radius: 4px;
   }


.modal-body input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
    width: 100%;
    height: 40px;
        margin-top: 15px;
}

.modal-body .wpcf7-form p {
    font-size: 18px;
}

button.close {
    background-color: #fff;
    font-size: 20px;
    padding: 0px;

    border: none;
}

header a:hover {
    background: none;
}
