@import url('./bootstrap.min.css');
@import url('./creative.css');
@import url('./animate.min.css');
@import url('./ihover.css');
@import url('./sprites.css');
@import url('./press-release.css');
@import url('./flexslider.css');

@import url('./cs-select.css');
@import url('./cs-skin-border.css');
@import url('./pages.css');

@import url('./icons.css');
@import url('./header.css');

@import url('./jquery.fancybox.css');

@font-face {
   font-family: 'proxima';
   src: url('/fonts/ProximaNova-Light_0.otf');
}

/*@font-face {
   font-family: 'proxima';
   font-weight: bold;
   src: url('/fonts/ProximaNova-Bold.otf');
}*/

@font-face {
	font-family: 'proxima';
	font-weight: bold;
	src: url('/fonts/ProximaNova-Semibold_0.otf');
}

/** Overriding Intergalactic CSS */

.single-page .entry-header {
    background-color: transparent;
}

.single.single-thumbnail .entry-background {
    top: 0;
}


.sf-menu {
  line-height: 1.0;
}
.sf-menu, .sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navigation .sf-menu li {
  float: left;
  position: relative;
}
/* test add end */

html {
	margin: 0 !important;
}

body {
  background: #fff;
}

* {
	box-sizing: border-box;
	font-family: proxima;
	color: inherit;
}


td {
	border-width: 0;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: none;
	font-family: proxima;
	font-weight: bold;
	color: #202020;
	margin: 1%;
}


h1 {
	font-size: ;
}

input[type=button],
input[type=submit] {
	text-transform: none;
}

a:focus,
a:active,
a:visited,
a {
	color: #202020;
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    transition: all .1s;
    text-decoration: none;
    outline: none;
}

.heading-block a:focus {
	transition: none;
}

a:hover {
    text-decoration: none;
    color: #7b7b7b;
    outline: none;
}

input.yellowbutton,
input.yellowbutton:active,
input.yellobutton:focus {
	padding: 10px 40px;
	background-color: #ffd846;
	border-radius: 8px;
	color: #202020;
	border-color: #ffd846;
}

.container {
	background: none;
}

/** Image CSS */

.home-row-margin {
	margin-bottom: 5%;
}

.client-logo {
	width: 210px;
}

.v-logo {
	width: 175px;
}

.circle-box {
	margin-top: 2%;
	margin-bottom: 2%;
}

/** TEXTCSS */

p {
	text-align:center;
	font-size: 16px;
	margin: 1%;
	font-weight: normal;
}

.normal-font {
	font-weight: normal;
}

.white-text {
	color: #fff;
}

.text-center {
	text-align: center;
}

.section-title {
	margin: 2% auto;
	text-align: center;
	position: relative;
}

.floating-section-title {
	position: absolute;
	padding: 1%;
	width: 100%;
	color: #202020;
	text-align: center;
	/*background-color: rgba(032, 032, 032, 0.8);*/
}

.fancybox-play {
	position: absolute;
	display: none;
	text-align: center;
	left: 48%;
	color: #fff;
	font-size: 24px;
	background-image: url(/images/playback_button.svg);
	display: inline-block;
	width: 48px;
	height: 48px;
	padding-left: 6px;
	padding-top: 6px;
}

.carousel-content {
	margin-top: 1%;
}

.white-3dbox-block {
	background-color: #202020;
}

.box-touch {
	margin-bottom: -75px;
}

.blog-entry-tile {
	height: 500px;
	padding: 10px 30px;
	font-size: 16px;
}

.blog-entry-tile p {
	text-align: left;
}

.no-border {
	border-width: 0 !important;
}

.bottom-right {
	position: absolute;
	right: 8%;
	bottom: 4%;
	height: 25px;
}

.bottom-right-widget {
	position: absolute;
	right: 5px;
	bottom: 40px;
}

.bottom-right-convert {
	position: absolute;
	bottom: 5%;
	right: 3%;
	color: #fff;
}

.chetan {
	background: url('/images/chetan.jpg') no-repeat center center fixed;
	background-size: cover;
	text-align: left;
	padding: 15% 40% 10% 10%;
}

.vikram {
	background: url('/images/vikram.jpg') no-repeat center center fixed;
	background-size: cover;
	text-align: left;
	padding: 15% 10% 10% 40%;
}

.gourav {
	background: url('/images/gourav.jpg') no-repeat center center fixed;
	background-size: cover;
	text-align: left;
	padding: 15% 40% 10% 10%;
}

.contact-map {
	width: 70%;
	margin-top: -2%;
}


/** Heading Text */

.heading-block {
	height: 90vh;
	color: #fff;
	padding-top: 8%;
	padding-bottom: 10%;
	position: relative;
	background-color: rgba(0,0,0,0.2);
	background-size: cover;
}

.engage-heading-block {
	background: #f8835e;
	height: 90vh;
	padding-top: 8%;
	padding-bottom: 10%;
	position: relative;
}

.engage-heading-block .heading-text {
	margin: 0% auto 5%;
}

.heading-text {
	margin-top: 10%;
	margin-bottom: 10%;
	position: relative;
}

.engadv-border {
	border-bottom: 15px solid #7b7b7b;
}

.heading-text h2 {
	font-size: 60px;
	line-height: 100%;
	color: #fff;
	text-align: center;
	font-weight: normal;
	}

.heading-text h4 {
	font-weight: normal;
	font-size: 35px;
	line-height: 100%;
	color: #fff;
	text-align: center;
}

.home-bg {
	height: 100vh;
}

/** Buttons CSS */
.btn-default:active,
.btn-default {
	background: #ffd846;
	color: #202020;
	padding: 10px 40px;
	border-radius: 8px;
	font-size: 18px;
	display: inline-block;
}

/*.btn-default:hover,*/
input.yellowbutton:hover {
	background-color: #7b7b7b;
	color: #ffd846;
}

a:focus a:active .btn-default {
	background: #7b7b7b;
	color: #ffffff;
}

a:focus a:active .btn-default {
	background: #7b7b7b;
	color: #ffffff;
}

.flexslider img {
	background-color: rgba(0,0,0,0.4);
}

/** Yellow Strip */

.yellow-text-block {
	position: relative;
	background-color: #FFD845;
	text-align: center !important;
	color: #222;
}

.yellow-strip-text {
	font-size: 20px;
	text-align: center;
	display: inline;
	line-height: 1em;
	font-weight: bold;
}

#marketersloveus .btn-default {
	margin-top: 5%;
}

.yellow-strip-text .icon-home_yellowband_arrow {
	font-size: 35px;
	color: #222;
	margin: 1%;
}

.yellow-height {
	height: 120px;
}

.value-holder {
	padding: 5%;
	background-image: url ("/images/values_postit-02.svg");
	background-size: 500px 300px;
}

.intro-blocks-container {
	padding: 90px 20px;
}

.intro-blocks-container .intro-block {

	border: 1px solid #fff;
	padding: 20px;
	color: #fff;
	margin-bottom: 20px;
	border-radius: 4px;
	background-color: #7b7b7b;
	font-size: 16px;
}

.intro-blocks-container .intro-block h4 {
	color: #fff;
}

/** Second frame text*/

.intro-text {
	font-size: 20px;
	margin: 5% 15%;
	text-align: center;
}

.intro-text p {
	font-size: 20px;
	text-align: center;
}

.v-intro-text {
	margin: 5% auto;
}

.v-intro-text p {
	font-size: 20px;
	text-align: center;
	margin-top: 5%;
}

.service-box {
    margin: 2% auto 4%;
    max-width: 400px;
}

.home-vbox {
	margin: 2% auto;
	width: 200px;
}


/** Testi */


.leading-brands-block {
	background-color: #C2D667;
	position: relative;
	height: 100vh;
	text-align: center;
	padding: 5%;
}

.brand-images {
	height: 80vh;
	overflow: hidden;
	position: relative;
}

.brand-images-sm {
	display: none;
}

.brand-images-sm h2 {
	color: #fff;
}

.brand-images-sm p {
	color: #fff;
	width: 80%;
	text-align: center;
	display: inline-block;
}


.brands-choose {
	vertical-align: top;
	position: absolute;
	top: 10%;
	right: 5%;
	color: #fff;
	max-width: 25%;
}

.aunty {
	height: 450px;
	margin-left:5%;
}

.uncle {
	height: 450px;
	margin-left:-10%;
}

.brands-choose h2{
	color: #fff;
	line-height: 1em;
}

.brand-testimonials p {
	margin-top: 30px;
	color: #fff;
}

.brands-list {
	background-color: #fff;
	border-radius: 2px;
	padding: 0 5%;
	margin-left: -25%;
	min-width: 400px;
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 50%;
}


.brands-list li {
	display: inline-block;
}

.brands-list ul {
	margin: 0;
}

.testi-loght {
		height: 58px;
		margin: auto 2%;
	}

.values-area {
	margin: 5% auto;
}

.selfserve-header {

	background-image: url("/images/barbg.jpg");
	background-repeat: no-repeat;
	background-attachment:	fixed;
	background-size: cover;
 }

.selfserve-header .heading-block {
	background: none;
	}

.selfserve-end .selfserve-signup {
	margin-bottom: 5%;
}

.selfserve-header .selfserve-signup{
	margin-top: 8%;
}

.black-nos .circle-holder {
	height: 180px;
}

.gift-box {
	background-image: url("/images/gift.svg");
	padding: 10% 20%;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gift-box h2 {
	font-weight: normal;
	text-align: center;
	margin-top: 20%;
}

.section-title img {
	width: 75%;
	padding-right: 5%;
}

.yellow-icons {
	background-image: url("/images/laptop-bg.jpg");
	padding-top: 5%;
	padding-bottom: 5%;
	background-attachment: fixed;
}

.circle-text {
	text-align: center;
	color: #ffd846;
	font-size: 85px;
	font-weight: 900;
	margin: 15% auto 5%;
}

.sscar-icon {
	height: 200px;
}

.sscarousel {
	height: 500px;
	margin: 5% auto;
}

.sscarousel .carousel-control {
	color: #ffd846;
	top: 300px;
}

.sscarousel .carousel-inner img {
	margin: 0 auto;
}

.flying-box-area {
	margin-bottom: 5%;
}

.flying-box img {
	height: 300px;
}

.flying-box h4 {
	margin-top: 10%;
}

.yellow-icons .feature-icon-holder {
	margin:5% auto 10%;

}

.yellow-icons .feature-icon-holder img {
	width:125px;
}

.flying-box-area h4, .flying-box-area p {
	text-align: left;
}

.black-nos {
	background-color: #202020;
	padding-top: 5%;
	padding-bottom: 5%;
}

.black-nos h4, .black-nos p{
color: #ffffff;
}



/** Feature Section */

.feature-section {
	margin: 0% auto 5%;
}

.feature-section h3 {
	font-weight: normal;
}

.home-feature-icon {
	height: 125px;
	width: 125px;
	text-align: center;
	margin: 10% auto;
}

.bg-grad {
background: linear-gradient(to left, #7b7b7b, #ffffff) !important;
}

.inv-tab {
	margin: 20% 5%;
	text-align: center;
}


.inv-logo .ojas {
	margin-top: 2%;
}

.inv-logo .intel-capital {
	margin-top: 25%;
}

.inv-logo .ascent-capital {
	margin-top: 15%;
}

.inv-logo .nokia {
	margin-top: 5%;
}

.inv-logo .inventus {
	margin-top: 25%;
}

.inv-tab p {
	border: 0px;
	margin: auto 10%;
}

.inv-tab .td {
	vertical-align: middle;
	text-align: center;
}

/** Numbers Section Circles */

.numbers-section {
	background-image: url("/images/home_nodes.jpg");
	background-position: fixed;
	background-size: cover;
	background-color: rgba (248,131,94,0.7);
}

.circle-holder {
	margin: 5% auto 5%;
}

.circle-no {
	height: 180px;
	width: 180px;
	text-align: center;
	margin-bottom: 10%;
}

.feature-section h3, .numbers-section h3 {
	font-size: 20px;
}

.convert-boxes {
	background-color: #8febc6;
	background-image: url('/images/convert.svg');
	height: 100%;
	padding: 10% auto;
}



#heart-animation {
	background: url('/images/heart_home.svg') no-repeat center;
	width: 100px;
	height: 100px;
	display: inline-block;
	animation: heart-beating 1.5s ease-in infinite;
}

@keyframes heart-beating{
    from {transform: scale(0.9);}
    to {transform: scale (1);}
}

.no-animation {
	animation-name: none !important;
	position: absolute;
	text-align: center;
	top: 15px;
	left: 50%;
	margin-left: -150px;
}

.slow-fade {
	animation: slow-fading 1s ease-in 1;
}

@keyframes slow-fading {
	from {opacity:0;}
	to {opacity:1;}
}

/**Clientsorpub*/

.logo-section {
	margin-bottom: 5%;
}

/**Reach Page*/

.reach-nos {
	background-color: #c2d568;
	background-image: url('/images/convert.svg');
}

.reach-nos .circle-no {
	margin-bottom: 5%;
}

.circle-holder-reach {
	margin: 5% auto 5%;
}

#wrap {
	width: 100%;
}

div#single-page-content {
	margin-top: 0;
}

/** ihover override **/
div.img {
	text-align: center;
}
.ih-item img {
	width: auto;
	height: auto;
}

/** Background video */
#bgvid {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/** Classes need to handle the extra <p> elements added the wordpress html editor */
.flatten-extra-p p {
	margin: 0;
}
.hide-extra-p p {
	display: none;
}


/** Text below image */
.text-below-image {
	text-align: center;
	padding: 10px 10px;
	margin-bottom: 20px;
}

/** Flex slider **/
.flexslider {
	border: none;
}
.flexslider .slides > li {
	display:inline-block;
	overflow:hidden;
	position:relative;
	margin-right: -.25em;
	width:20.08%;
}
.flexslider .slides > li p {
	margin: 0;
}
.flexslider .slides > li .normal-text {
	display: block;
}
.flexslider .slides > li .hover-text {
	display: none;
}
.flexslider .flex-caption {
	top: 50%;
	margin-left: 20px;
	background-color: transparent;
}
.flexslider .slides img {
	display: block;
	max-width: 1000px;
	height: 600px;
}
.flexslider .flex-caption {
	padding: 20px;
	background-color: rgba(0,0,0,0.8);
	display: inline-block;
	bottom: auto;
	width: 80%;
	font-size: 20px;
	line-height: 1.5em;
}
.flexslider h4.flex-caption {
	font-size: 20px;
	font-weight: normal;
	color: #fff;
}


/** Footer */
#footer {
	background: none;
	padding: 0;
}
#footer a,
#footer a:active,
#footer a:visited {
	color: #fff;
}
#footer a:hover {
	color: #ffd846;
}
#footer .fb-contact,
#footer .linkedin-contact,
#footer .youtube-contact,
#footer .twitter-contact {
	width: 20px;
	height: 20px;
	display: inline-block;
}
#footer .fb-contact {
	background-image: url(/images/home_footer_fb.svg);
}
#footer .fb-contact:hover {
	background-image: url(/images/home_footer_fb_c.svg);
}
#footer .linkedin-contact {
	background-image: url(/images/home_footer_linkedin.svg);
}
#footer .linkedin-contact:hover {
	background-image: url(/images/home_footer_linkedin_c.svg);
}
#footer .youtube-contact {
	background-image: url(/images/home_footer_youtube.svg);
}
#footer .youtube-contact:hover {
	background-image: url(/images/home_footer_youtube_c.svg);
}
#footer .twitter-contact {
	background-image: url(/images/home_footer_twitter.svg);
}
#footer .twitter-contact:hover {
	background-image: url(/images/home_footer_twitter_c.svg);
}


/** Main content */
#main-content {
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;

}

.front-page-container {
	display: block;
}

.front-page-container .products-block {
	background-color: #202020;
	text-align: center
}

.front-page-container .products-block .products-intro {
	margin: 30px;
	color: #fff;
	font-size: 24px;
	display: inline-block;
	width: 850px;
}

.front-page-container .products-block .products-details {
	text-align: center;
}

.front-page-container .products-block .products-details .products-section {
	display: inline-block;
	width: 250px;
	text-align: center;
	margin: 20px;
}

.front-page-container .products-block .products-details .products-section .product-title {
	font-size: 24px;
	margin: 20px auto;
	color: #fff;
}

.front-page-container .products-block .products-details .products-section .product-description {
	display: inline-block;
	width: 250px;
	text-align: center;
}

.product-reach-image {
	background-image: url(../../../imgs/reach-logo.png);
	width: 148px;
	height: 148px;
	display: inline-block;
}

.product-convert-image {
	background-image: url(../../../imgs/convert-logo.png);
	width: 148px;
	height: 148px;
	display: inline-block;
}

.product-engage-image {
	background-image: url(../../../imgs/engage-logo.png);
	width: 148px;
	height: 148px;
	display: inline-block;
}





/** Engage Pages */
.engage-floating-bg {
	width: 1000px;
	height: 475px;
	background-image: url(/images/master_engage.svg);
}
.engage-data-floating-bg {
	width: 350px;
	height: 350px;
	margin-top: 50px !important;
	background-image: url(/images/data_engage.svg);
}
.engage-insights-floating-bg {
	width: 350px;
	height: 350px;
	margin-top: 40px !important;
	background-image: url(/images/insights_engage.svg);
}
.engage-marketing-floating-bg {
	width: 350px;
	height: 350px;
	margin-top: 50px !important;
	background-position: center;
	background-image: url(/images/marketing_engage.svg);
}
.engage-data-floating-bg div,
.engage-insights-floating-bg div,
.engage-marketing-floating-bg div {
	white-space: nowrap;
}
.engage-hover-magic-text {
	width: 80%;
	height: 800px;
	margin: 4% auto;

}
.engage-advantage-container {
	padding: 10px;
	position: relative;
	height: 1000px;
}

.engage-header-icon {
	height: 250px;
	margin-top: 3%;
}


.engage-dim-section {
	background: #202020;
	padding-top: 3%;
	padding-bottom: 5%;
	padding-left: 3%;
}


.hover-magic-text-bg {
	opacity: 0.6;
	height: 1000px;
	width: 100%;
	min-width: 1000px;
	position: absolute;
	left: 0;
	top: 0;

    -webkit-transition-property: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    -moz-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
    -webkit-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
}
.hover-magic-circle1 {
	left: 34%;
	top: 50%;
}
.hover-magic-circle2 {
	left: 7%;
	top: 24%;
}
.hover-magic-circle3 {
	left: 60%;
	top: 70%;
}
.hover-magic-circle4 {
	left: 3%;
	top: 80%;
}
.hover-magic-circle5 {
	left: 84%;
	top: 39%;
}
.hover-magic-circle6 {
	left: 30%;
	top: 78%;
}
.hover-magic-circle7 {
	left: 15%;
	top: 47%;
}
.hover-magic-circle8 {
	left: 61%;
	top: 25%;
}

/** Testimonials block */
.testimonial-bg {
	width: 400px;
	height: 360px;
	margin: auto;
	background-image: url(/imgs/testimonialB.jpg);
	background-size: contain;
	position: relative;
	left: -30px;
	top: -30px;
}



/*-- .heading-text h2 {
	margin: 0;
	font-size: 60px;
	line-height: 72px;
	font-family: proximab
}
.heading-text h4 {
	margin: 5px 0;
	font-size: 36px;
	line-height: 36px;
	font-family: proxima;
}
--*/

#pills-first {
	text-align: center;
}
.tab-pane {
	height: 100px;
	padding: 1.5%;
}
.nav-pills>li{
	display: inline-block;
	float: none;
	padding:0px;
	width: 33%;
	text-align: center;
}
.nav-pills>li>a {
	padding: 15px 0;
	margin: 0 auto;
	border-radius: 0;
	display: inline-block;
	background-color: transparent !important;
}
.nav-pills>li.active>a {
	box-shadow: inset 0 -3px 0 0 #7b7b7b;
}
.nav-pills>li>a>img {
	height: 45px;
}
.nav-pills>li+li {
	margin-left: 0;
}

.prod-logo {
	height: 100px;
	width: 100px;
}

.nav-pills>li>a>img.horizontal-logo {
	display: inline-block;
	max-width: 100%;
}

 .tab-content h4 {
	 padding-top: 1%;
	 text-align: center;
	 font-weight:normal;
 }



/** Intro text container */
.intro-box {
	padding-bottom: 4%;
}

/** Yellow Band CSS */

.yellow-text-block .gray-text {
	font-weight: bold;
}

.yellow-text-block h4 {
	margin:0%;
}

.yellow-text-block p {
	margin: 0;
}

.yellow-text-block a,
.yellow-text-block a:hover {
	color: #333;
}

.yellow-text-block a.carousel-control {
	color: #fff;
}
.yellow-text-block a .icon-home_yellowband_arrow {
	color: inherit;
	border-radius: 50%;
}
.yellow-text-block a:hover .icon-home_yellowband_arrow {
	color: inherit;
	background-color: #fff;
}

.yellow-text-block .btn-default {
	color: #ffd845;
	background-color: #202020;
}
.yellow-text-block .btn-default:hover {
	background-color: #fff;
	color: #7b7b7b;
}
.yellow-text-block .inline-content p {
	display: inline-block;
	vertical-align: middle;
	margin: 1%;
}

.yellow-text-block .big-white-number {
	font-size: 120px;
	color: #fff;
	margin: 0 auto;
	line-height: 1em;
	font-family: 'proxima';
	font-weight: bold;
}
.yellow-text-block .big-white-number-text {
	font-size: 44px;
	color: #fff;
	margin: 24px auto;
	line-height: 1em
}
.yellow-text-block .white-text-more-button {
	vertical-align: middle;
}
.yellow-text-block .vertical-middle {
	display: inline-block;
	margin-top: 48px;
}

.yellow-band-logo {
	text-align:right;
	margin-top: 0.7%;
}

/** Gray Gallery Block */
.halka-gray-box {
	background-color: #f8835e;
	padding-bottom:5%;
}


/* Round Images container */
.round-images-container {
	background-color: #fff;
	margin: auto 5%;
}
.round-images-container img {
	display: inline-block;
	width: 150px;
	height: 150px;
}

.feature-icon-holder {
	text-align:center;
	margin-bottom: 5%;
	display: inline-block;
}

.feature-size {
	width: 175px;
}

.feature-holder {
	margin-top: 2%;
}
.web-reach .feature-holder {
	min-height: 300px;
}
.feature-text {
	margin: 5%;
	text-align: justify;
}

.values-yes {
	margin: 10% auto;
	text-align: center;
}

/* Read More */

.read-more-block {
	margin: auto 5% 5%;
}

.read-more-block h4:hover {
	color: #7b7b7b
}

/* Floating Text Box */
.floating-text-box {
	position: relative;
	margin: 0 auto;
	list-style-type: none;
}
.floating-text-box .gray-bg {
	background-color: #7b7b7b;
	color: #fff;
}
.floating-text-box .circular-bound {
	border-radius: 50%;
}
.hoverable-text {
	display: block;
	text-align: center;
}
.xsmallcircle,
.bigcircle,
.smallcircle,
.xbigcircle {
	position: absolute;
	font-size: 12px;

    -webkit-transition-property: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;

    -moz-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
    -webkit-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
}
.xsmallcircle {
	width: 90px;
	height: 90px;
}
.bigcircle {
	width: 160px;
	height: 160px;
}
.smallcircle {
	width: 120px;
	height: 120px;
}
.xbigcircle {
	width: 180px;
	height: 180px;
}
.expandbig.expanded,
.expandsmall.expanded,
.expandxbig.expanded {

    margin-left: -7%;
    margin-top: -7%;
    z-index: 100;
}
.bigcircle.faded,
.xbigcircle.faded,
.smallcircle.faded {
    opacity: 0.1;
}
.expandsmall.expanded {
	width: 320px;
	height: 320px;
}
.expandbig.expanded {
	width: 360px;
	height: 360px;
}
.expandxbig.expanded {
	width: 400px;
	height: 400px;
}
.hoverable-text .plus-icon,
.hoverable-text .minus-icon {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -10px;
	background-image: url(/images/plus_white.svg);
	width: 19px;
	height: 19px;
}
.hoverable-text .plus-icon,
.hoverable-text.activate .minus-icon,
.hoverable-text:hover .minus-icon {
	display: block;
}
.hoverable-text .minus-icon,
.hoverable-text.activate .plus-icon,
.hoverable-text:hover .plus-icon {
	display: none;
}
.hoverable-text .floating-hover-text {
	text-align: center;
	position: absolute;
	color: #fff;
	text-align: center;
	font-weight: bold;
	display: none;
	font-size: 18px;
	width: 80%;
}
.hoverable-text .floating-hover-text a {
	color: #000;
}
.hoverable-text .floating-hover-text a:hover {
	color: #ffd845;
}
.hoverable-text .floating-normal-text {
	text-align: center;
	vertical-align: middle;
	color: #fff;
	position: absolute;
	white-space: nowrap;
}
.hoverable-text .floating-normal-text h4 {
	font-size: 20px;
	font-weight: normal;
}
.floating-text-element-xsmall,
.floating-text-element-small,
.floating-text-element-medium,
.floating-text-element-large {
	position: absolute;
	text-align: center;
}
.floating-text-element-xsmall {
	font-size: 14px;
}
.floating-text-element-small {
	font-size: 16px;
}
.floating-text-element-medium {
	font-size: 20px;
}
.floating-text-element-large {
	font-size: 24px;
}

/* Portfolio Box */
.portfolio-box-static {
	width:100%;
	height:100%;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
.portfolio-box-static span {
	position: relative;
	top: 50%;
	margin-top: -20px;
	font-size: 20px;
}
.portfolio-box-caption .icon-home_yellowband_arrow {
	font-size: 54px;
}

/* Modal Override */
.modal {
	text-align: center;
}
.modal .modal-open {
	text-align: center;
}
.modal-dialog {
	width: auto;
	display: inline-block;
	text-align: left;
	margin: 100px auto;
}
.modal-dialog input {
	display: block;
}

/* Engage Accordion */
.heading-block .tab-accordion-engage {
	margin: 100px 20px;
}
.tab-accordion-engage {
	display: none;
	text-align: left;
}
.tab-accordion-engage h3 {
	margin: 0;
	padding: 8px 15px;
	background-color: #7b7b7b;
	color: #fff;
}
.tab-accordion-engage > ul {
	border: 1px solid #fff;
	border-radius: 4px;
	overflow: hidden;
}
.tab-accordion-engage ul {
	list-style: none;
	margin: 0;
}
.tab-accordion-engage ul ul {
	display: none;
}
.tab-accordion-engage ul ul li {
	margin: 0;
	padding: 5px 15px;
	color: #000;
	background-color: #fff;
	font-size: 16px;
}

/* Black Bg Heading */
.black-background-heading {
	background-color: #000;
	color: #fff;
	font-size: 36px;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}


/* White Text Sections */
.white-background {
	background-color: #fff;
	color: #333;
	text-align: justify;
	padding: 5% 0;
	position: relative;
}
.white-background .row {
	margin: 10px;
}
.white-background h2,
.white-background h3 {
	text-align: center;
}
.white-background .call-to-action {
	margin-top: 30px;
}

.unfloat {
	float: none !important;
}

.unfloat-to-center {
	float: none !important;
	margin: 40px auto;
	text-align: justify;
}


/* Fonts */
.bigass-font {
	font-size: 120px;
	font-weight: bold;
}
.xl-font {
	font-size: 35px;
}
.large-font {
	font-size: 20px;
}


/* Product Page CSS */
.container .nav-pills {
	margin: 0;
	padding: 0;
}

.cgo {
	width:300px;
	padding-top:5%;
}

.sscarousel p {
	padding-left: 20%;
	padding-right: 20%;
}

.sscarousel .left {
	left:15%;
}

.sscarousel .right {
	right: 15%;
}


/* Custom, Iphone Retina */
@media (max-width: 479px) {

	.modal-dialog input {
		width: 300px;
	}

	.categ-down {
		margin: 0;
		display: block;
	}

	.youdecide {
		margin-top:20%;
	}

	.inv-logo {
	margin-top: 5%;
	margin-bottom: 5%;
	}


	.gift-box {
		background: none;
		padding: 5% 2%;
	}

	.sscarousel .left {
		left:2%;
	}

	.sscarousel .right {
		right: 2%;
	}

	.sscarousel {
		height: 650px;
	}

	.flying-box {
		padding: 5%;
	}

	.heading-text {
		margin-top: 50%;
		margin-bottom: 10%;
	}

	 .heading-text h2 {
		font-size: 30px;
		line-height: 120%;
	}

	.heading-text h4 {
		font-size: 20px;
		line-height: 120%;
	}

	.heading-block .btn-default {
		margin-top: 5%;
	}

	.yellow-strip-text {
		font-size: 18px;
		text-align: center;
		display: inline-block;
		line-height: 1.3em;
		font-weight: normal;
		padding: 1% 3%;
	}

	.yellow-strip-text .icon-home_yellowband_arrow {
		font-size: 20px;
		color: #222;
		margin: 1% 2%;
	}

	.intro-text {
		margin: 10% 10%;
		text-align: center;
	}

	.home-vbox {
		margin: 10% auto 0;
		width: 200px;
	}

	.sonia-v2-small-text {
		margin: 10% 0%;
	}

	.leading-brands-block {
		background-color: #C2D667;
		position: relative;
		height: 100vh;
		text-align: center;
		padding: 5% 0%;
	}

	.feature-section h2 {
		font-weight: normal;
		font-size: 22px;
		text-align: center;
	}

	.feature-holder {
		margin-bottom: 10%;
	}


	.no-animation {
		animation-name: none !important;
		position: absolute;
		text-align: center;
		top: 30%;
		left: 63%;
		margin-left: -150px;
	}

	.home-feature-icon {
		height: 125px;
		width: 125px;
		text-align: center;
		margin: 10% auto 5%;
	}

	.floating-section-title {
		left: 0;
		top: 10px;
		opacity: 1;
	}

	.engage-header-icon {
		margin-top: 20%;
		height: 200px;
	}

	.section-title {
		margin: 10% auto;
	}

	.box-touch {
		margin-bottom: 0;
	}

	.yellow-height {
		height: 120px;
	}

	.yellow-text-block .inline-content p {
		display: block;
		vertical-align: middle;
		margin: auto 5%;
	}

	.bottom-right {
		position: absolute;
		right: 10%;
	}

	.engage-advantage-container {
		height: auto;
		padding: 50px 0;
	}
	.hover-magic-text-bg {
		display: none;
	}
	.floating-text-box {
		position: static;
		background-image: none !important;
		margin: 0 auto;
		list-style-type: none;
		text-align: center;
	}
	.floating-text-box .circular-bound {
		border-radius: 20%;
	}
	.bigcircle,
	.xbigcircle,
	.smallcircle {
		display: block;
		position: relative;
		left: 0 !important;
		top: 0 !important;
		margin: 20px !important;
		max-width: 90%;

	    -webkit-transition: all .5s;
	    -moz-transition: all .5s;
	    transition: all .5s;

        -moz-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
        -webkit-transition-timing-function: cubic-bezier(.17,.37,.67,.93);

	}
	.bigcircle.expanded,
	.xbigcircle.expanded,
	.smallcircle.expanded {
	    transform: none;
	}
	.hoverable-text .floating-normal-text,
	.hoverable-text .floating-hover-text {
		text-align: center;
		vertical-align: middle;
		color: #fff;
		position: relative;
	}
	.floating-text-element-xsmall,
	.floating-text-element-small,
	.floating-text-element-medium,
	.floating-text-element-large {
		position: relative;
		left: 0 !important;
		top: 0 !important;
		margin: 0 !important;
		text-align: center;
		padding: 4px 12px;
		display: block;
		font-size: 1.2em;
		margin: 10px auto !important;
		background-color: rgba(0,0,0,0.5);
	}
	.floating-text-element-medium {
		font-size: 30px;
	}
	.floating-text-element-xsmall b,
	.floating-text-element-small b,
	.floating-text-element-medium b,
	.floating-text-element-large b {
		font-size: 1.2em;
	}

	.engage-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-data-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-insights-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-marketing-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-hover-magic-text {
		width: auto;
		height: auto;
	    padding-top: 60px;
    	position: relative;
	}

	.prod-logo {
		height: 60px;
		width: 60px;
	}

	.nav-pills>li{
		display: inline-block;
		float: none;
		margin: 0% 0% 5%;
	}

	.tab-content h4 {
	 text-align: justify;
	}


	.blog-entry-tile {
		height: 500px;
		padding: 10px 30px;
		font-size: 16px;
	}

	.blog-entry-tile p  {
		text-align:left;
	}

	.fancybox-play {
		left:42%;
		top: 110%;
	}

	.yellow-height {
		height: 200px;
	}

	.portfolio-box-caption .icon-home_yellowband_arrow {
		font-size: 20px;
		bottom: 3%;
		right: 5%
	}

	.chetan {
		background: linear-gradient(to left, #7b7b7b, #ffffff);
		padding: 30% 10%;
	}

	.vikram {
		background: linear-gradient(to right, #7b7b7b, #ffffff);
		padding: 20% 10%;
	}

	.gourav {
		background: linear-gradient(to left, #7b7b7b, #ffffff);
		padding: 20% 10%;
	}

.cgo {
	width:100px;
}

.service-box  {
	margin: 4% auto 8%;
}

}

/* Extra Small Devices, Phones */
 @media(min-width:480px) and (max-width:767px){

	.heading-text {
	margin-top: 20%;
	margin-bottom: 10%;
	}

	#address-drop .dropdown {
		margin-top: 10%;
	}

	.engage-header-icon {
		margin-top: none;
	}

	.portfolio-box-caption .icon-home_yellowband_arrow {
		font-size: 40px;
		right: 3%;
		bottom: 3%;
	}

	.big-white-number-text {
		margin-top: 1%;
	}

	.white-text-more-button {
		margin-top: 2%;
	}

	 .heading-text h2 {
	font-size: 40px;
	line-height: 100%;
	margin-top: 1px;
	margin-bottom: 1px;
	}

	.heading-text h4 {
	font-size: 20px;
	line-height: 120%;
	margin-top: 20px;
	}

	.brands-choose {
	vertical-align: top;
	position: absolute;
	top: 10%;
	right: 2%;
	}

	.brands-list {
	background-color: #fff;
	border-radius: 2px;
	padding: 0 5%;
	margin-left:-50%;
	min-width: 400px;
	position: absolute;
	display: inline-block;
	}

	.yellow-strip-text .icon-home_yellowband_arrow {
		font-size: 25px;
	}

	.yellow-text-block {
		padding: 3%;
	}

	.yellow-height {
		height: 120px;
	}

	.yellow-text-block .inline-content p {
		margin-top: 2%;
	}


	.sonia-v2-small-text {
		margin: 5% auto;
	}

	.home-feature-icon {
		margin-bottom: 3%;
	}

	.circle-no {
		margin-bottom: 3%;
		margin-top: 5%;
	}

	.prod-logo {
		height: 80px;
		width: 80px;
	}

	.nav-pills>li{
		display: inline-block;
		float: none;
		margin: 0% 1% 5%;
	}

	.tab-content h4 {
	 padding-top: 2%;
	 text-align: center;
	}

	.feature-icon-holder {
	height: 175px;
	width: 175px;
	text-align:center;
	margin-bottom: 2%;
	display: inline-block;
	}

	.feature-holder {
	margin: 2% 15%;
	}

	.blog-entry-tile {
	height: 450px;
	padding: 0% 20%;
	font-size: 16px;
	text-align: center;
	margin-bottom: 10%;
	}

	.no-animation {
	animation-name: none !important;
	position: absolute;
	text-align: center;
	top: 25%;
	left: 50%;
	margin-left: -150px;
	}

	.brand-images-sm p {
		color: #fff;
		text-align: center;
		display: inline-block;
	}

	.bottom-right {
		position: absolute;
		right: 23%;
		bottom: 4%;
	}

	.fancybox-play {
		left: 45%;
	}

	.engage-advantage-container {
		height: auto;
		padding: 50px 0;
	}
	.hover-magic-text-bg {
		display: none;
	}
	.floating-text-box {
		position: static;
		background-image: none !important;
		margin: 0 auto;
		list-style-type: none;
		text-align: center;
	}
	.floating-text-box .circular-bound {
		border-radius: 50%;
	}
	.bigcircle,
	.xbigcircle,
	.smallcircle {
		display: block;
		position: relative;
		left: 0 !important;
		top: 0 !important;
		margin: 20px !important;
	    -webkit-transition-property: all .5s;
	    -moz-transition: all .5s;
	    transition: all .5s;

	    -moz-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
	    -webkit-transition-timing-function: cubic-bezier(.17,.37,.67,.93);
	}
	.bigcircle.expanded,
	.xbigcircle.expanded,
	.smallcircle.expanded {
	    transform: none;
	}
	.hoverable-text .floating-normal-text {
		text-align: center;
		vertical-align: middle;
		color: #fff;
		position: relative;
	}
	.floating-text-element-xsmall,
	.floating-text-element-small,
	.floating-text-element-medium,
	.floating-text-element-large {
		position: relative;
		left: 0 !important;
		top: 0 !important;
		margin: 0 !important;
		text-align: center;
		padding: 4px 12px;
		display: block;
		font-size: 1.2em;
		margin: 10px auto !important;
		background-color: rgba(0,0,0,0.5);
	}
	.floating-text-element-medium {
		font-size: 30px;
	}
	.floating-text-element-xsmall b,
	.floating-text-element-small b,
	.floating-text-element-medium b,
	.floating-text-element-large b {
		font-size: 1.2em;
	}

	.engage-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-data-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-insights-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-marketing-floating-bg {
		width: auto;
		height: auto;
		background-image: none;
		background-color: rgba(0,0,0, 0.2);
	}
	.engage-hover-magic-text {
		width: auto;
		height: auto;
	    padding-top: 60px;
    	position: relative;
	}

	.chetan {
		background: linear-gradient(to left, #7b7b7b, #ffffff);
		padding: 30% 10%;
	}

	.vikram {
		background: linear-gradient(to right, #7b7b7b, #ffffff);
		padding: 20% 10%;
	}

	.gourav {
		background: linear-gradient(to left, #7b7b7b, #ffffff);
		padding: 20% 10%;
	}

	.modal-dialog input {
		width: 400px;
	}
}


 /* Anything less than App */
 @media(max-width: 991px) {

	.tab-pane {
		height: auto;
	}

	.leading-brands-block {
		height: auto;
	}

	.brands-choose {
		display: none;
	}

	.brand-images {
		display: none;
	}

	.brand-images-sm {
		display: block;
	}

	.nav-pills>li  {
		display: inline-block;
		float: none;
		margin: 0% 2% 5%;
	}

	.tab-content h4 {
	 	padding-top: 1%;
	 	text-align: center;
	}

	.engage-marketing-floating-bg,
	.engage-insights-floating-bg,
	.engage-data-floating-bg,
	.engage-floating-bg {
		display: none;
	}

	.tab-accordion-engage {
		display: block;
		margin: 0 auto;
	}

	.nav-pills>li{
		width: 100%;
	}

 }

/* Small Devices, Tablets */
@media(min-width : 768px) and (max-width:991px) {

	.blog-entry-tile {
		height: 430px;
		padding: 10px 30px;
		font-size: 16px;
	}

	.round-images-container .row {
		margin-right:0px;
	}

	.inv-logo {
	margin-top: 5%;
	margin-bottom: 10%;
	}

	.round-images-container {
	background-color: #fff;
	margin: auto 0%;
	}

	.gift-box {
		padding: none;
	}

	.gift-box h2 {
		font-size: 20px;
	}

	.sscarousel p {
	padding-left: 15%;
	padding-right: 15%;
	}

	.youdecide {
		margin-top: 15%;
	}

	.brand-images-sm p {
		color: #fff;
		text-align: center;
		display: inline-block;
	}

	.yellow-text-block {
		position: relative;
		background-color: #FFD845;
		text-align: center !important;
		color: #222;
		padding: 2%;
	}

	.heading-text h2 {
		font-size: 60px;
		line-height: 120%;
		color: #fff;
		text-align: center;
		font-weight: normal;
	}

	.heading-text {
		margin-top: 30%;
	}

	.sonia-v2-small-text {
		margin: 5% auto;
	}

	.bottom-right {
		bottom: 1%;
		right: 5%;
	}


	.yellow-band-logo {
		margin-top: 15%;
	}

	.yellow-height {
		height: 130px;
	}

	.fancybox-play {
		bottom: 120%;
	}

	.engage-header-icon {
		height: 200px;
	}

	.engage-heading-block {
		padding-top: 2%;
	}

	.hover-magic-circle1 {
		left: 250px;
	}
	.hover-magic-circle2 {
		left: 10px;
	}
	.hover-magic-circle3 {
		left: 450px;
	}
	.hover-magic-circle4 {
		left: 20px;
		top: 550px;
	}
	.hover-magic-circle5 {
		left: 440px;
	}
	.hover-magic-circle6 {
		left: 220px;
		top: 600px;
	}
	.hover-magic-circle7 {
		left: 70px;
	}
	.hover-magic-circle8 {
		left: 300px;
		top: 215px;
	}

	.cgo {
		width:250px;
		padding-top:5%;
	}

}

/* Medium Devices, Desktops */
@media(min-width : 992px) and (max-width:1199px) {


}

/* Large Devices, Wide Screens */
@media(min-width : 1200px) {


}

@media screen and (max-width: 767px) {

	#footer ul {
		text-align: center;
		margin: 0;
		font-size: 20px;
	}

	#footer .white-text > div {
		margin-bottom: 20px;
	}

	.footersubmenu p {
		text-align: center;
	}

	img.grayscale {
	    filter: none;
	    -webkit-filter: grayscale(0%);
	}
}

