
.mapb,
.testimonialb,
.left-cubeb,
.right-cubeb,
.custom-built-productsb,
.hassle-free-marketingb,
.multi-channel-reachb,
.one-stop-solutionsb,
.performanceb,
.testimonial-guy1,
.testimonial-guy2,
.vizury-logob,
.tanxb,
.ascent-capital,
.ebay,
.ebayb,
.etihad,
.etihadb,
.hdfc,
.hdfcb,
.jabong,
.jabongb,
.ngp,
.sony,
.sonyb,
.cleartrip,
.cleartripb,
.dafiti,
.dafitib,
.dan-murphy,
.dan-murphyb,
.flikartb,
.flipkart,
.intel,
.inventus,
.netshoes,
.netshoesb,
.ojas,
.policy-bazaar,
.policy-bazaarb,
.souq,
.souqb,
.the-iconic,
.the-iconicb,
.walmart,
.walmartb, .wego, .wegob, .yintai, .yintaib,
.convertb, .engageb, .reachb, .v-logob { display: inline-block; background: url('/imgs/sprite1.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.mapb { background-position: -1px -0px; width: 2960px; height: 1600px; }
.testimonialb { background-position: -1px -1601px; width: 892px; height: 850px; }
.left-cubeb { background-position: -894px -1601px; width: 640px; height: 712px; }
.right-cubeb { background-position: -1535px -1601px; width: 640px; height: 712px; }
.custom-built-productsb { background-position: -2176px -1601px; width: 492px; height: 522px; }
.hassle-free-marketingb { background-position: -2176px -2124px; width: 492px; height: 522px; }
.multi-channel-reachb { background-position: -894px -2314px; width: 492px; height: 522px; }
.one-stop-solutionsb { background-position: -1387px -2314px; width: 492px; height: 522px; }
.performanceb { background-position: -1px -2452px; width: 492px; height: 522px; }
.testimonial-guy1 { background-position: -1880px -2647px; width: 444px; height: 365px; }
.testimonial-guy2 { background-position: -2325px -2647px; width: 444px; height: 365px; }
.vizury-logob { background-position: -494px -2837px; width: 400px; height: 84px; }
.tanxb { background-position: -494px -2452px; width: 366px; height: 125px; }
.ascent-capital { background-position: -494px -2578px; width: 300px; height: 150px; }
.ebay { background-position: -895px -2837px; width: 300px; height: 150px; }
.ebayb { background-position: -1196px -2837px; width: 300px; height: 150px; }
.etihad { background-position: -1497px -2837px; width: 300px; height: 150px; }
.etihadb { background-position: -494px -2922px; width: 300px; height: 150px; }
.hdfc { background-position: -1px -2975px; width: 300px; height: 150px; }
.hdfcb { background-position: -795px -2988px; width: 300px; height: 150px; }
.jabong { background-position: -1096px -2988px; width: 300px; height: 150px; }
.jabongb { background-position: -1397px -2988px; width: 300px; height: 150px; }
.ngp { background-position: -1698px -3013px; width: 300px; height: 150px; }
.sony { background-position: -1999px -3013px; width: 300px; height: 150px; }
.sonyb { background-position: -2300px -3013px; width: 300px; height: 150px; }
.cleartrip { background-position: -2601px -3013px; width: 300px; height: 150px; }
.cleartripb { background-position: -302px -3073px; width: 300px; height: 150px; }
.dafiti { background-position: -1px -3126px; width: 300px; height: 150px; }
.dafitib { background-position: -603px -3139px; width: 300px; height: 150px; }
.dan-murphy { background-position: -904px -3139px; width: 300px; height: 150px; }
.dan-murphyb { background-position: -1205px -3139px; width: 300px; height: 150px; }
.flikartb { background-position: -1506px -3164px; width: 300px; height: 150px; }
.flipkart { background-position: -1807px -3164px; width: 300px; height: 150px; }
.intel { background-position: -2108px -3164px; width: 300px; height: 150px; }
.inventus { background-position: -2409px -3164px; width: 300px; height: 150px; }
.netshoes { background-position: -302px -3224px; width: 300px; height: 150px; }
.netshoesb { background-position: -1px -3277px; width: 300px; height: 150px; }
.ojas { background-position: -603px -3290px; width: 300px; height: 150px; }
.policy-bazaar { background-position: -904px -3290px; width: 300px; height: 150px; }
.policy-bazaarb { background-position: -1205px -3290px; width: 300px; height: 150px; }
.souq { background-position: -1506px -3315px; width: 300px; height: 150px; }
.souqb { background-position: -1807px -3315px; width: 300px; height: 150px; }
.the-iconic { background-position: -2108px -3315px; width: 300px; height: 150px; }
.the-iconicb { background-position: -2409px -3315px; width: 300px; height: 150px; }
.walmart { background-position: -302px -3375px; width: 300px; height: 150px; }
.walmartb { background-position: -1px -3428px; width: 300px; height: 150px; }
.wego { background-position: -603px -3441px; width: 300px; height: 150px; }
.wegob { background-position: -904px -3441px; width: 300px; height: 150px; }
.yintai { background-position: -1205px -3441px; width: 300px; height: 150px; }
.yintaib { background-position: -1506px -3466px; width: 300px; height: 150px; }
.convertb { background-position: -2669px -1601px; width: 272px; height: 272px; }
.engageb { background-position: -2669px -1874px; width: 272px; height: 272px; }
.reachb { background-position: -2669px -2147px; width: 272px; height: 272px; }
.10a { background-position: -1880px -2314px; width: 210px; height: 58px; }
.10b { background-position: -1880px -2373px; width: 210px; height: 58px; }
.11a { background-position: -2669px -2420px; width: 210px; height: 58px; }
.11b { background-position: -1880px -2432px; width: 210px; height: 58px; }
.12a { background-position: -2669px -2479px; width: 210px; height: 58px; }
.12b { background-position: -1880px -2491px; width: 210px; height: 58px; }
.1a { background-position: -2669px -2538px; width: 210px; height: 58px; }
.1b { background-position: -1880px -2550px; width: 210px; height: 58px; }
.2a { background-position: -494px -2729px; width: 210px; height: 58px; }
.2b { background-position: -2710px -3164px; width: 210px; height: 58px; }
.3a { background-position: -2710px -3223px; width: 210px; height: 58px; }
.3b { background-position: -2710px -3282px; width: 210px; height: 58px; }
.4a { background-position: -2710px -3341px; width: 210px; height: 58px; }
.4b { background-position: -2710px -3400px; width: 210px; height: 58px; }
.5a { background-position: -2710px -3459px; width: 210px; height: 58px; }
.5b { background-position: -1807px -3466px; width: 210px; height: 58px; }
.6a { background-position: -2018px -3466px; width: 210px; height: 58px; }
.6b { background-position: -2229px -3466px; width: 210px; height: 58px; }
.7a { background-position: -2440px -3466px; width: 210px; height: 58px; }
.7b { background-position: -2651px -3518px; width: 210px; height: 58px; }
.8a { background-position: -1807px -3525px; width: 210px; height: 58px; }
.8b { background-position: -2018px -3525px; width: 210px; height: 58px; }
.9a { background-position: -2229px -3525px; width: 210px; height: 58px; }
.9b { background-position: -2440px -3525px; width: 210px; height: 58px; }
.v-logob { background-position: -2770px -2647px; width: 138px; height: 145px; }