@font-face {
   font-family: 'proxima';
   src: url('/fonts/ProximaNova-Light_0.otf');
}

@font-face {
   font-family: 'proximab';
   src: url('/fonts/ProximaNova-Bold.otf');
}

#wrap {
	width: 100%;
}

#header {
	width: 100%;
	padding: 20px 10px;
	opacity: 0.9;
}

.vizuri_menu_class {
	margin-right: 100px;
}

#navigation .sf-menu > li > a {
	font-family: proxima;
	font-size: 18px;
	margin: 0 20px;
}