@import url('./animate.min.css');

@font-face {
   font-family: 'proxima';
   src: url('/fonts/ProximaNova-Light_0.otf');
}

@font-face {
	font-family: 'proxima';
	font-weight: bold;
	src: url('/fonts/ProximaNova-Semibold_0.otf');
}

.frame-1, .frame-2, .frame-3,.frame-4 {
	height:100vh;
}

.frame-1 .row {
	height:100%;
}

.frame1-leftpane {
	background: #fff url("/images/BG-7.jpg") no-repeat center center fixed;
	background-size: cover;
	height:100%;
}

.frame-1 h2 {
	margin-top:13.29%;
	margin-bottom: 13.29%;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.frame1-item-1 {
	background: #fff url("/images/BG-1.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;
}

.frame1-item-2 {
	background: #fff url("/images/BG-2.jpg") no-repeat center center fixed;
	background-size: cover;
	height:100%;
}

.frame1-item-3 {
	background: #fff url("/images/BG-3.jpg") no-repeat center center fixed;
	background-size: cover;
	height:100%;
}

.frame-2 h2 {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.frame-3 h2, .frame-4 h2 {
	position: absolute;
    margin-top: 20%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.frame2-leftpane {
	background: #fff url("/images/BG-4.jpg") no-repeat center center fixed;
	background-size: cover;
	height:100%;
}

.frame2-rightpane , .frame3-rightpane{
	background: #fff;
}

.frame2-rightpane p {
	position: absolute;
    margin-top:35%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.frame2-rightpane .btn-us {
	border-radius:15px;
	border:3px solid #222;
	color: #222;
	background: #fff;
	position: absolute;
	padding: 10px 40px;
	font-size:22px;
    margin-top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.frame3-leftpane {
	background: #fff url("/images/BG-5.jpg") no-repeat center center fixed;
	background-size: cover;
	height:100%;
}

.frame3-rightpane  p, .frame4-rightpane p{
	margin-top: 20%;	
}

.frame3-rightpane, .frame4-rightpane {
	display: block;
	padding-left: 10%;
	padding-right: 10%;
}

.frame4-leftpane {
	background: #fff url("/images/BG-6.jpg") no-repeat center center fixed;
	background-size: cover;
	height:100%;
}

.frame-5 {
	background:#222;
}

.frame-6 {
	height:100%;
	margin-top:10%;
}

.frame-7 {
	background: #fff url("/images/BG-7.jpg") no-repeat center center fixed;
	background-size: cover;
	height:30%;
}

.big-white-number {
	font-size:120px;
	color:#fff;
	margin:0 auto;
	line-height:1em;
	font-family:'proxima';
	font-weight:700
}

.big-white-number-text {
	font-size:44px;
	color:#fff;
	margin:24px auto;
	line-height:1em
}

.white-text-more-button {
	vertical-align:middle;
}

.inline-content p{
	display:inline-block;
	vertical-align:middle;
	margin:auto 5%
}

.carousel-inner > .item > img {
	height:200px;
}

.features-icon {
	margin-top: 25%;
	margin-left:18%;
}

.carousel-content h4 {
	color:#fff;
}

.features-carousel .right {
	right: 60%;
	top:40%;
	position:absolute;
}

.features-carousel .left {
	left: 15%;
	top:40%;
	position:absolute;
}

.features-content {
	margin-left:75%;
	margin-top:-15%;
}

@media screen and (max-width: 479px) {

}

@media screen (min-width:480px) and (max-width: 767px) {

}
	
@media (min-width:768px) and (max-width:991px){
	
}
	
@media (min-width:992px) and (max-width:1199px){
	
}

@media (min-width:1200px){

}
